<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for ordering, <%= @order.email %>!</h1>

    <p>
      Here is the receipt for the recent order you did!
      Order ID: <%= @order.id %>
    </p>

    <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each do |item|%>
            <%= render partial: 'line_item', object:item %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= @order.total %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>

    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>
